#inforItemOffcanvas   {
    width: 100vw;
    height: 100vh;
}

.bg-primary{
    background-color: #c997f0 !important;
}

.bg-card{
    background-color: #652d90;
}

.bg-card-body{
    background-color: #ecd5ff;
}

#divClose{
    height: 5vh;
    font-size: .8rem;
}

.col{
    height: 95vh;
}

#inforItemOffcanvas .col-6 {
    height: 75vh;
}

#divBtns{
    height: 20vh;
}

.card{
    height: 90vh;
    width: 85%;
}

.container-img{
    width: 100%;
    height: 50vh;
}

.card-img-top{
    max-height: 90%;
    max-width: 90%;
    width: auto;
    height: auto;
}

.offcanvas-body {
    overflow-y: hidden;
}

#inforItemOffcanvas .form-control,
#inforItemOffcanvas .form-select {
    color: #600404;
    background-color: #ffffff;
    border: var(--bs-border-width) solid #3f0460;
}

#inforItemOffcanvas .form-floating .form-label {    
    color: #c5c5c5 !important;
}

.fileBtnDisable::-webkit-file-upload-button {
    background-color: #cecece !important; 
    color: #ffffff !important;
}

#switchCheckEditar .form-switch .form-check-input {
    width: 4em;
    height: 1.7em;
}
