main{
    height: calc(100vh - 56px);
    overflow: hidden;   
}
.main-row1{
    height: calc(70vh - 56px);
}
    #coluna1{
        width: 25vw;
    }
        #divTabelaAlerta{
            height: 25vh;            
            background-color: aquamarine;
        }
        #divGraficoCategoria{
            height: calc(45vh - 56px);
        }
            #grafico-categoria{
                height: 95%;
            }
    #coluna2{
        width: 75vw;

    }
        #divGraficoEvolucao{
            height: calc(56vh - 56px);
        }
            #grafico-evolucao{
                height: 40vh;
            }
.main-row2{
    height: 30vh;
}
    #perca-dia, #perca-mes, #perca-ano{
        height: 25vh;
    }


/*thead{
    width: 100%;
}*/