<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <div th:replace="fragments/header :: header"></div>
        <div id="alerta"></div>
        <form id="formulario" enctype="multipart/form-data">
            <input type="file" name="imagemItem"><br>
            <input type="text" name="nomeItem" placeholder="nome"><br>
            <input type="text" name="marca" placeholder="marca"><br>
            <input type="text" name="descricaoItem" placeholder="descrição"><br>
            <input type="text" name="categoria" placeholder="categoria"><br>
            <input type="number" step="any" name="precoUni" placeholder="preço"><br>
            <input type="number" name="quant" placeholder="quantidade"><br>
            <input type="number" step="any" name="volumeUni" placeholder="volume por unidade"><br>
            <input type="text" name="unidMedida" placeholder="unidade de medida"><br>
            <label for="dataValidadeLocalDate">Data de validade</label><br>
            <input type="date" name="dataValidadeLocalDate" id="dataValidadeLocalDate"><br>
            <input type="text" name="lote" placeholder="lote"><br>
            <input type="text" name="enderecoArmazen" placeholder="local de armazenamento"><br>
            <input type="submit" value="enviar" id="btnEnviar">
        </form>
        <br><br><br>
        <a href="/estoque/buscarTodos" target="_blank">Get All</a><br>
        <a href="/estoque/pesquisa">pesquisa</a>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        const form = document.getElementById('formulario')
        form.addEventListener("submit", (e)=>{
            e.preventDefault()

            const formData = new FormData(form)

            const url = '/estoque/adicionarItem';
            fetch(url, {
                method: 'POST',
                body: formData
            })
                .then(res => {
                    console.log('Status:', res.status);
                    Swal.fire({
                        title: 'Certin!',
                        text: `Funfooooou`,
                        icon: 'success',
                        confirmButtonText: 'OK',
                        background: '#ffffff',
                        color: '#000000',
                        iconColor: '#11ff00',
                        confirmButtonColor: '#0051ff'

                    });
                    return res.json();
                })
                .then(data => console.log(data))
                .catch(err => {
                    Swal.fire({
                        title: 'Deu Pau!',
                        text: 'O nome do item NÃO foi preenchido!',
                        icon: 'warning',
                        confirmButtonText: 'OK',
                        background: '#fffbc6',
                        color: '#000000',
                        iconColor: '#fff100',
                        confirmButtonColor: '#ff0000'

                    });
                });

        })
    </script>
</html>