<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>


<div xmlns:th="http://www.thymeleaf.org" th:fragment="filterOffcanvas" class="d-flex flex-row fixed-left">
  <div class="offcanvas offcanvas-start p-3 bg-light" tabindex="-1" id="filterOffcanvas"
    aria-labelledby="filterOffcanvasLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="filterOffcanvasLabel">Filtrar por...</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body"><!--OffCanvas Body-->
      <form>
        <div class="form-floating mb-3"><!--Marca-->
          <input type="text" class="form-control" id="filterMarca" name="filterMarca">
          <label class="form-label" for="filterMarca">Marca</label>
        </div>
        <div class="form-floating mb-3"><!--Categoria-->
          <select class="form-select" id="filterCategotia" name="filterCategotia">
            <option selected>Escolha...</option>
            <option value="frutas">Frutas</option>
            <option value="bases/massas">Bases/Massas</option>
            <option value="complementos">Complementos</option>
          </select>
          <label class="form-label" for="filterCategotia">Categoria</label>
        </div>
        <div class="form-floating mb-3"><!--Data de entrada-->
          <input class="form-control" type="date" name="filterDataEntr" id="filterDataEntr">
          <label for="filterDataEntr" class="form-label">Data de entrada</label>
        </div>
        <div class="form-floating mb-3"><!--Data de validade-->
          <input class="form-control" type="date" name="filterDataValidade" id="filterDataValidade">
          <label for="filterDataValidade" class="form-label">Data de validade</label>
        </div>
        <fieldset class="mt-4 border border-light-subtle rounded"><!--Preço por unidade-->
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="maiorQuePreco" name="comparacaoPreco" value="1">
            <label class="form-check-label" for="maiorQuePreco">Maior que</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="menorQuePreco" name="comparacaoPreco" value="-1">
            <label class="form-check-label" for="menorQuePreco">Menor que</label>
          </div>
          <div class="form-floating">
            <input class="form-control" type="number" step="any" name="filterPrecoUni" id="filterPrecoUni">
            <label for="filterPrecoUni" class="form-label">Preço por unidade</label>
          </div>
        </fieldset>
        <fieldset class="mt-3 border border-light-subtle rounded"><!--Quantidade-->
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="maiorQueQuant" name="comparacaoQuant" value="1">
            <label class="form-check-label" for="maiorQueQuant">Maior que</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="menorQueQuant" name="comparacaoQuant" value="-1">
            <label class="form-check-label" for="menorQueQuant">Menor que</label>
          </div>
          <div class="form-floating">
            <input class="form-control" type="number" name="filterQuant" id="filterQuant">
            <label for="filterQuant" class="form-label">Quantidade</label>
          </div>
        </fieldset>
        <fieldset class="mt-3 border border-light-subtle rounded"><!--Volume e Unidade de medida-->
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="maiorQueVol" name="comparacaoVol" value="1">
            <label class="form-check-label" for="maiorQueVol">Maior que</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="menorQueVol" name="comparacaoVol" value="-1">
            <label class="form-check-label" for="menorQueVol">Menor que</label>
          </div>
          <div class="input-group form-floating">
            <div class="input-group form-floating">
              <input class="form-control" type="number" name="filterVol" id="filterVol">
              <label for="filterVol" class="form-label">Volume por unidade</label>
            </div>
            <div class="input-group form-floating">
              <select class="form-select" id="filterUnidMedida" name="filterUnidMedida">
                <option selected>Escolha...</option>
                <option value="Kilogramas(Kg)">Kilogramas(Kg)</option>
                <option value="Gramas(g)">Gramas(g)</option>
                <option value="Litros(l)">Litros(l)</option>
                <option value="Mililitros(ml)">Mililitros(ml)</option>
                <option value="Unidade(uni)">Unidades(uni)</option>
              </select>
              <label class="form-label" for="filterUnidMedida">Unidade de medida</label>
            </div>
          </div>
        </fieldset>
        <div class="form-floating mt-4"><!--Lote-->
          <input type="text" class="form-control" id="filterLote" name="filterLote">
          <label class="form-label" for="filterLote">Lote</label>
        </div>
        <div class="form-floating mt-4"><!--Endereço de Armazenamento-->
          <input type="text" class="form-control" id="filterEnderecoArmazen" name="filterEnderecoArmazen">
          <label class="form-label" for="filterEnderecoArmazen">Endereço de armazenamento</label>
        </div>
        <div class="form-floating mt-4"><!--Data de Saída-->
          <input class="form-control" type="date" name="filterDataSaid" id="filterDataSaid">
          <label for="filterDataSaid" class="form-label">Data de saída</label>
        </div>
        <div class="form-floating mt-4"><!--Motivo de Saída-->
          <select class="form-select" id="filterMotivoSaida" name="filterMotivoSaida">
            <option selected>Escolha...</option>
            <option value="Perda">Perda</option>
            <option value="Produção">Produção</option>
            <option value="Devolução">Devolução</option>
          </select>
          <label class="form-label" for="filterMotivoSaida">Motivo de Saída</label>
        </div>
        <button type="submit" class="btn btn-outline-primary mt-4 col-12 fw-bold">Pesquisar</button>
      </form>
    </div>
  </div>
  
  <!-------------------------------------------------------------------------------------------------->

  <button class="btn d-flex align-items-center justify-content-center rounded-circle fixed-bottom mb-3 ms-2 " type="button"
    data-bs-toggle="offcanvas" data-bs-target="#filterOffcanvas" aria-controls="filterOffcanvas"
    style="background-color: rgb(152, 102, 165); height: 50px; width: 50px;">
    <img src="/img/ico/filtroIco.ico" width="25px">
  </button>

</div>