#inforItemOffcanvas   {
    width: 100vw;
    height: 100vh;
}

.col{
    height: 100vh;
}

.descricoes{
    height: 80vh;
}

#divBtns{
    height: 20vh;
}

.card{
    height: 90vh;
    width: 85%;
}

.container-img{
    width: 100%;
    height: 50vh;

}

.card-img-top{
    max-height: 90%;
    max-width: 90%;
    width: auto;
    height: auto;
}



.offcanvas-body {
    overflow-y: hidden;
}

#inforItemOffcanvas .form-control,
#inforItemOffcanvas .form-select {
    color: #3f0460;
    background-color: #ffffff;
    border: var(--bs-border-width) solid #3f0460;
}


.form-floating .form-label {
    color: #c5c5c5 !important;
}